/* BURGER */


.burger-bar {
  background-color: $fontcolor_main;
  position: relative;
  width: 30px;
  height: 3px;
  margin: 3px 0;
  transition: transform 0.5s, opacity 0.3s, background-color 0.5s;
}

#burger.active .burger-1 {
  transform: rotate(45deg) translateY(13px);
}

#burger.active .burger-2 {
  opacity: 0;
}

#burger.active .burger-3 {
  transform: rotate(-45deg) translateY(-13px);
}

@media only screen and (min-width: 768px) {
  #burger {
    visibility: hidden;
  }
}