$bgcolor_main: hsl(218, 19%, 95%);
$bgcolor_secondary: hsl(231, 17%, 92%);

$fontcolor_main: hsl(218, 19%, 10%);
$fontcolor_secondary: hsl(231, 17%, 10%);
$fontcolor_warning: hsl(270, 1%, 32%);

$fontcolor_headline: hsl(225, 17%, 5%);
$fontcolor_subtitle: hsl(233, 16%, 20%);


$navbar_height: 64px;
$footer_height: 100px;

$sidebar_width: 300px;
$mobile_width: 95%;
$desktop_width: 70%;

$width_breakpoint: 768px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  min-height: 100vh;
}

body {
  background-color: $bgcolor_main;
  color: $fontcolor_main;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.08rem;
}

a {
  color: $fontcolor_secondary;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
