.sm-2 {
  flex: 0 0 16.66666%;
}

.sm-3 {
  flex: 0 0 25%;
}

.sm-4 {
  flex: 0 0 33.33333%;
}

.sm-6 {
  flex: 0 0 50%;
}

.sm-8 {
  flex: 0 0 66.66666%;
}

.sm-9 {
  flex: 0 0 75%;
}

.sm-10 {
  flex: 0 0 83.33333%;
}

.sm-12 {
  flex: 0 0 100%;
}

@media only screen and (min-width: $width_breakpoint) {
  .lg-2 {
    flex: 0 0 16.66666%;
  }

  .lg-3 {
    flex: 0 0 25%;
  }

  .lg-4 {
    flex: 0 0 33.33333%;
  }

  .lg-6 {
    flex: 0 0 50%;
  }

  .lg-8 {
    flex: 0 0 66.66666%;
  }

  .lg-9 {
    flex: 0 0 75%;
  }

  .lg-10 {
    flex: 0 0 83.33333%;
  }

  .lg-12 {
    flex: 0 0 100%;
  }
}
