#hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;

  article {
    width: $mobile_width;
    margin: auto;
    background: rgba(255,255,255,0.5);
    padding: 10px;
  }

  img {
    position: absolute;
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0,0,0,0.3) 50%, rgba(0, 0, 0, 0));
    z-index: -1;
  }
}

@media only screen and (min-width: $width_breakpoint) {
  #hero {
    article {
      width: $desktop_width;
    }
  }
}

@media only screen and (min-width: $width_breakpoint_large) {
  #hero {
    article {
      width: $desktop_width_large;
      background: none;
    }
  }
}
