section {
  width: $mobile_width;
  margin: auto;
  margin-top: 50px;
}

section:first-child {
  margin-top: 0;
}

@media only screen and (min-width: $width_breakpoint) {
  section {
    width: $desktop_width;
  }
}

@media only screen and (min-width: $width_breakpoint_large) {
  section {
    width: $desktop_width_large;
  }
}
