/* SIDE BAR */

#sidebar {
  position: fixed;
  z-index: 10;
}

.slide-enter-active,
.slide-enter-leave {
  transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
  transition: all 150ms eas-in 0s;
}

.sidebar-outside {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-panel {
  overflow-y: auto;
  background-color: rgba($bgcolor_secondary, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 20;
  width: $sidebar_width;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: $width_breakpoint) {
  .sidebar-panel {
    width: $sidebar_width_large;
    background: linear-gradient(90deg, $bgcolor_secondary 75%, $bgcolor_main 100%);
    a {
      padding: 20px 0 20px 0;
    }
  }
}

.navitem {
  width: 100%;
  padding: 10px 0 10px 10px;
  text-transform: uppercase;
  display: block;

  div {
    display: inline-block;
  }

  div.faicon {
    text-align: center;
    min-width: 50px;
  }
}

.navitem:hover {
  background: $bgcolor_main;
}
