#topbar {
  position: fixed;
  z-index: 20;
  width: $sidebar_width;
  height: $navbar_height;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  top: 0;

  #infobanner {
    padding-left: 20px;
  }

  >div {
    min-width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


@media only screen and (max-width: $width_breakpoint) {
  #topbar {
    background: $bgcolor_secondary;
    width: 100vw;
  }
}