@import "./defaults";

section {
  margin-top: 50px;
}

section:first-child {
  margin-top: 0;
}

article {
  margin-top: 20px;
}

article:first-child {
  margin-top: 0;
}

@import "./content";
@import "./topnav";
@import "./burger";
@import "./sidebar";
@import "./footer";