@import "./defaults";

.headline {
  font-size: 2.5rem;
  font-weight: 700;
  color: $fontcolor_headline;
}

.subtitle {
  font-size: 1.7rem;
  font-weight: 400;
  color: $fontcolor_subtitle;
}

@import "./topnav";
@import "./sidebar";
@import "./burger";
@import "./footer";

@import "./flex";
@import "./card";

@import "./ids";

@import "./main";
@import "./content";
@import "./article";
@import "./section";

@import "./hero";
